<section id="how_it_works" class="slide">
  <div class="vcenter">
    <h1>work like this:</h1>
  <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    mkdir some_sinatra_staff  # => make dir and cd in it
    touch .ruby-version       # => specify the ruby you whant
    touch Gemfile             # => make Gemfile add stuff you need to it
        # Gemfile
        source: rubygems
        gem "thin"...
        AND shit this is not right and there is no dogma...
    Then make your app.rb     # => http://www.sinatrarb.com/intro.html
  </script>
  </div>
</section>
