<section id="links" class="slide">
  
  <div class="vcenter">
    <h3>Links:</h3>
      <p><a href="http://www.sinatrarb.com/">Sinatra</a></p>
      <p><a href="http://en.wikipedia.org/wiki/Sinatra_(software)">WIKI</a></p>
      <p><a href="http://rubygarage.github.io/">This slides</a></p>
      <p><a href="https://tutsplus.com/course/simple-sinatra/">Tutsplus.com Simple-sinatra</a></p>
  </div>
</section>

