<section id="what_is_sinatra" class="slide"> 
  <div class="vcenter">
    <h2>Sinatra is a web framework.<br /> Simply put, it's a library that allows you to write web applications with a minimum of red tape.</h2>
    <h3>You simply load Sinatra, and start coding application logic.</h3>
  </div>
</section>

