<section id="what_it_is_not" class="slide">
  
  <div class="vcenter">
    <h2>Instead of talking about what Sinatra is, let's talk about what Sinatra isn't.</h2>
    <ul>
      <li>Big - Sinatra is tiny. Really tiny. Around 1500 lines of code. Rails is closer to 100,000 lines of code. That's almost 1/100th the size of Rails.</li>
      <li>The answer to your problems - Sinatra doesn't solve any new problems. It doesn't do anything that Rails or other frameworks can't. It's just a web framework.</li>
      <li>The right tool for every job - Other frameworks are the right tools for other job. Large-scale projects are better suited toward using something like Rails. Sinatra is suited for small-scale projects.</li>
    </ul>
  </div>
</section>

